<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12 text-center">

      <h1 class="title">LeoVegas Challenge</h1>

      <form [formGroup]="filterForm">

        <div class="filter-field">

          <select class="form-control-lg category-selector" [formControl]="filterForm.controls.category">
            <option value="all">{{ 'All games' }}</option>
            <option
              *ngFor="let cat of categories"
              [value]="cat">
              {{ formatCategoryName(cat) }}
            </option>
          </select>

          <input
          class="form-control-lg"
          [formControl]="filterForm.controls.filter"
          placeholder="Filter games..." />

        </div>

      </form>

      <div class="row justify-content-center">
        <game-entry
          class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
          *ngFor="let game of getFilteredGames()"
          [gameName]="game.gameName"
          [imageSrc]="game.gameThumbnail"
          (click)="previewGame(game.gamePreviewUrl)">
        </game-entry>
      </div>

    </div>
  </div>
</div>

